                
<fieldset>
    <legend>Specials</legend>
    <div class="modal-body"  >
        <button type="button" class="btn-primary btn-xl" id="displaycurrentactionscridsettings" >
                    Display Current Actiongrid Settings
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="modifyamyview" >
                   Modify a MyView
                  </button>
    </div>
    <div class="modal-body">
        <button type="button"  class="btn-primary btn-xl"  id="createnewmyview" ng-click="createanewmyview()">
                  Create a New MyView
                  </button>
        <button type="button"   class="btn-primary btn-xl" id="dynamicallychangerefreshrate" >
                   Dynamically Change Refresh Rate
                  </button>
    </div>
    <div class="modal-footer">
        <button class="btn-warning  btn-xl" ng-click="cancel()">Cancel</button>
    </div>
</fieldset>