                
<fieldset>
    <legend>Main Menu</legend>
    <div class="modal-body"  >
        <button type="button" class="btn-primary btn-xl" id="visit_return_button" ng-click="launchwithrow('keepselected')" >
                    Keep Selected
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="visit_return_button" ng-click="launchwithrow('discardselected')" >
                   Discard Selected
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchwithrow('unselectrows')" >
                   Unselect Row(s)
                  </button>
        <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchwithrow('takeaction')" >
                   Take Action
                  </button>
    </div>
    <div class="modal-body">
        <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchwithrow('panels')" >
                    Panels
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchwithrow('totalselected')" >
                   Total Selected
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchwithrow('copyclipboard')" >
                   Copy Clipboard
                  </button>
    </div>
    <div class="modal-footer">
        <button class="btn-warning btn-xl" ng-click="cancel()">Cancel</button>
    </div>
</fieldset>