                
<fieldset>
    <legend>Main Menu</legend>
    <div class="modal-body"  >
        <button type="button" class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('applymyview')" >
                    Apply MyView
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('panels')" >
                   Panels
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('selectall')" >
                   Select All
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('unsort')" >
                   Unsort
                  </button>
        <!-- button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchnorow('commands')" >
                   Commands
                  </button -->
        <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('takeaction')" >
                   Take Action
                  </button>
         <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('administration')" >
                   Administration   
                  </button>
    </div>
    <div class="modal-body">
        <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('filter')" >
                    Filter
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchnorow('sort')" >
                   Sort
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchnorow('undo')" >
                   Undo
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchnorow('specials')" >
                   Specials
                  </button>
        <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('spreadsheet')" >
                   Spreadsheet
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="visit_return_button" ng-click="launchnorow('xml')" >
                   XML
                  </button>
        <button type="button"   class="btn-primary btn-xl" id="visit_return_button" ng-click="launchnorow('query')" >
                   Query
                  </button>
       
    </div>
    <div class="modal-footer">
        <button class="btn-warning  btn-xl" ng-click="cancel()">Cancel</button>
    </div>
</fieldset>
