<fieldset>
    <legend>Panels</legend>
    <div class="modal-body" class="myGrid" >
            <div id="grid1" ui-grid="gridOptions"   class="grid"   external-scopes="myViewModel" >
                
                 
               <!--
                <div class="modal" ng-style="modalStyle">{{modalStyle}}
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"></div>
                            <div class="modal-body"></div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
                -->
            </div>
            <div class="modal-footer">
                <button class="btn-warning btn-xl" ng-click="cancel()">Cancel</button>
            </div>
        </fieldset>