                
<fieldset>
    <legend>Specials</legend>
    <div class="modal-body"  >
        <button type="button" class="btn-primary btn-xl" id="crunchgrandtotal" >
                    Crunch % Grand Total
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="crunchsubtotal" >
                   Crunch % Sub Total
                  </button>
    </div>
    <div class="modal-body">
        <button type="button"   class="btn-primary btn-xl" id="columnstorows" >
                    Columns to Rows
                  </button>
        <button type="button"  class="btn-primary btn-xl"  id="flashfilter">
                   Flash Filter
                  </button>
    </div>
    <div class="modal-footer">
        <button class="btn-warning  btn-xl" ng-click="cancel()">Cancel</button>
    </div>
</fieldset>