                
<fieldset>
    <legend>Spreadsheets / Import As</legend>
    <div class="modal-body"  >
        <button type="button" class="btn-primary btn-xl" id="CSV"  ng-click="opencsv()" >
                    CSV
                  </button>
        <!--
        <button type="button"  class="btn-primary btn-xl" id="PDF" ng-click="openpdf()"> 
                   PDF
                  </button>         
        -->
    </div>
    <div class="modal-footer">
        <button class="btn-warning  btn-xl" ng-click="cancel()">Cancel</button>
    </div>
</fieldset>      