                
<fieldset>
    <legend>Specials</legend>
    <div class="modal-body"  >
        <button type="button" class="btn-primary btn-xl" id="xmldatamapper" >
                    XML Data Mapper
                  </button>
        <button type="button"  class="btn-primary btn-xl" id="exporttoxml" >
                   Export to XML
                  </button>
    </div>
    <div class="modal-body">
        <button type="button"   class="btn-primary btn-xl" id="xmlcontrol" >
                    XML Control
                  </button>
    </div>
    <div class="modal-footer">
        <button class="btn-warning  btn-xl" ng-click="cancel()">Cancel</button>
    </div>
</fieldset>